/*========== Nav Bar ==========*/
nav ul {
    list-style-type: none;
    overflow: scroll;
	background-color: rgb(51,51,51);
}
  
nav li {
    /* Anchoring side on-screen */
    float: left;
    margin: 0px;
    padding: 0px;
}
  
nav li a {
    display: block;
    color: rgb(255,255,255);
    text-align: center;
    padding: 14px 16px;
    /*removes link underline*/
    text-decoration: none;
}
  
nav li a:hover {
    background-color: rgb(0,0,0);
}

nav li a:focus {
    background-color: rgb(0,0,0);
}

nav li a:focus.current {
    color: rgb(255,255,255)
}

nav li a.current {
    background: rgb(255, 178, 10);
    color: rgb(0, 0, 0);
    text-decoration: underline;
    /* slightly-increases distance between text and underline */
    /* aesthetically-preferrable but not very well-supported on mobile browsers */
    text-underline-position: under;
}

header h1{
    color: rgb(0,0,0);
    border-style: solid;
    display: block;
    padding: 3px;
    text-decoration: underline;
}

/* See NCSU link in ReadMe regarding implementation */
a.skip-to-cont {
    left:-999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow:hidden;
    color: rgb(255,0,0);
}

a.skip-to-cont:focus, a.skip-to-cont:active{
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow: auto;
    background-color: rgb(0,0,0);
    padding: 5px;
}
/*==================================================*/

/*========== P2 / Education Code ==========*/
.collegiate-entry{
    border-style: solid;
    border-width: 2px;
    margin: 2px;
}

.collegiate-entry p{
    margin: 3px;
    padding: 1px;
}

.collegiate-entry h3{
    margin: 5px;
    padding: 3px;
}
/*==================================================*/

/*========== P3 / Employment Code ==========*/
/* Specifically for the staff photos on the employment page */
.flex-container-staff-photos{
    display: flex;
    grid-template-columns: auto;
    grid-gap: 2px;
}
.flex-container-staff-photos img{
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.flex-container-current-employment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* for employment page */
.job-panel {
    /*background-color: rgb(221,224,223);*/
    /*background-color: #2C75FF;*/
    background-color: rgb(255,255,255);
    border-style: solid;
    border-width: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

#go-blue-stretch-banner {
    width: 100%;
    height: auto;
}

#academic-plots img{
    display: inline-block;
}

.collegiate-entry iframe{
    width: 100%;
    height: 400px;
}
/*==================================================*/

/*========== P4 / Skills Code ==========*/

/*  Note - this is actually assigned for just the photo at the bottom.
    on one hand, reformatting is a good idea, but removing the photo for other icons likely better
    as an end-goal anyway */
.grid-container-skills{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2px;
}
.grid-container-skills img{
    width:50%;
    height: auto;
}

.p4-pane {
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    margin: 4px;
    padding-left: 10px;
}

.p4-pane h2 {
    padding: 0px;
    padding-top: 8px;
    padding-left: 5px;
    margin: 0px;
}

.p4-pane ul {
    padding-left: 40px;
    padding-top: 0px;
    margin-left: 2px;
    margin-top: 10px;
}
/*==================================================*/

/*========== P6 / Gallery Code - Ft. Responsive ==========*/
@media only screen and (min-width: 1000px){
    .grid-container-gallery{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 2px;
    }
    .grid-container-gallery img {
        width:100%;
        height: auto;
    }
}

@media only screen and (max-width: 999px){
    .grid-container-gallery{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2px;
    }
    .grid-container-gallery img {
        width:100%;
        height: auto;
    }
}

@media only screen and (max-width: 600px){
    .grid-container-gallery{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2px;
    }
    .grid-container-gallery img {
        width:100%;
        height: auto;
    }
}
/*==================================================*/

/* Font Awesome */
.fas {
    background-color: #ffcb05;
    padding: 2px;
    border-style: solid;
}

.header-title {
    background-image: url("../images/backgrounds/stonehaven.png");
}

#contact-forum-purpose{
    width: 40%;
    height: auto;
}